#grantDiv {
  width: 300px;
  background: #EFE7E7;
  height: 100%;
  display: flex; 
  flex-flow: row wrap;
  justify-content: center;
}
.grantItem {
  margin-bottom: 12px;
	width: 280px;
	display: inline-block;
}
button { 
  width: 200px;
  height: 60px;
  border: 1px solid #141414;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
 }
h1 {
  font-size: 48px;
  font-weight: bold;
}
h2 {
  font-size: 45px;
  font-weight: semi-bold;
}
h3 {
  font-size: 28px;
  font-weight: bold;
  margin: 20px auto;
}
select {
  font-size: 20px;
}